@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="data:;base64,="><!--禁止 favicon.ico 请求-->
    <title>明剑馆</title>
  </head>

  <body>
    <h1>明剑馆</h1>
<ul>
<li>剑道是籍由有形与无形的剑理，去完善人格的一种约束性炼习。剑道锻炼我们更加的专注、冷静、理智、果断、温和、有责任心。剑道用她自身魅力带我们逐渐认识自己了解他人。</li>
<li>明剑馆是一家全日制国际剑道馆，全称深圳市剑友剑道俱乐部明剑馆，始于2006年，是国际剑道连盟（FIK）深圳地区认证中心。作为深圳早期的剑道馆，明剑创始之初就希望把纯正的剑道带给大家，因此明剑一直秉承传统的剑道精神，严格遵守剑道传统文化和训练机制，为剑友提供有益身心的剑道环境。</li>
<li>为提升剑道水平，明剑每年会自主举办CKOU深圳地区剑道级位考试、馆内赛、剑道师范讲习会等活动。组织剑友参加由国际剑道联盟（FIK）所属国家和地区举办的各种比赛，考段，集训和剑道讲习。为同时提高剑友的日语水平，促进剑道文化交流，明剑在剑道修习的基础上还提供专业的剑道日语课程。</li>
<li>剑道是自身的修练，尽力为有志于剑道的剑友提供“每日剑道修行”的环境是明剑的职责。从明剑的创立到今天，剑友们对剑道的越来越多的热爱，也是让明剑不断前行的动力。明剑唯有努力完善自己，让更多的人认识剑道，开始剑道。</li>
</ul>

<h1>联系我们</h1>
<ul>
   <li>馆长电话：15889489370</li>
   <li>主场地址：深圳福田保税区红棉道4号智立方创新园3楼明剑馆</li>
   <li>预约体验：请加馆长电话微信，索取新人指南并预约体验即可</li>
</ul>

<hr/>
<p align="center"><a href="http://www.miitbeian.gov.cn" target="_blank">备案号：粤ICP备17117703号-1</a></p>

<!--
    <ul>
      <li><a href="/v1/posts">/v1/posts</a></li>
    </ul>
-->	
  </body>
</html>
