@import model.ValidateDescription
@(userid: String, name: String, endvalidate: String , descriptions: Array[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,="><!--禁止 favicon.ico 请求-->
    <title>明剑馆会员有效期</title>
</head>
<body>
    @helper.form(action = routes.UpdateValidateController.searchVallidate()) {
        客户ID：<input id="searchUserid" type="text" name="userid" placeholder="姓名全拼" />
        <button type="submit" id="search" >搜索</button>
    }
    <br />
    @name 的会员有效期至：<b>@endvalidate</b>
<hr/>
历史缴费信息如下：<br/>
<ul>
@for( item <- descriptions){
  <li>@item</li>}
</ul>
<a href=@routes.ValidateController.searchValidates(userid)>续费</a>
</body>
</html>
