@import model.ValidateDescription
@(name: String, validate: String , descriptions: Array[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,="><!--禁止 favicon.ico 请求-->
    <title>明剑馆会员有效期</title>
</head>
<body>
    @helper.form(action = routes.UpdateValidateController.searchVallidate()) {
        客户ID：<input id="searchUserid" type="text" name="userid" placeholder="姓名全拼" />
        <button type="submit" id="search" >搜索</button>
    }
    <br />
    <br/>
    <br/>
    @name 的会员有效期至：<b>@validate</b>
    <br/>
    <br/>
    <div id="updateForm" style="display: none">
    @helper.form(action = routes.UpdateValidateController.searchVallidate()) {
        新的有效期：<input type="text" name="validate" value=""/><br/>
        说明：<input type="text" name="description" placeholder="本次缴费情况说明" /><br/>
        <button type="submit" id="moodify">提交</button><br/>
    }
    </div>
<hr/>
历史缴费信息如下：<br/>
<ul>
@for( item <- descriptions){
  <li>@item</li>}
</ul>

</body>
</html>
